# 模型权重
/models/

# 预处理数据
/processed/

# 日志
/logs/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# 虚拟环境
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# 环境变量
.env
.env.local
课程报告.md
课程报告 origin.md
show_tree.py
